<div ng-controller="HomeController as home" layout="vertical" layout-fill>

    <md-toolbar scroll-shrink class="md-theme-light">
        <div class="md-toolbar-tools">
            <h3>
                <span>My App Title</span>
            </h3>
        </div>
    </md-toolbar>

    <md-content>

        <section>
            <md-subheader class="md-subheader-colored">Todo</md-subheader>

            <md-list>
                <md-item ng-repeat="item in home.todos">
                    <div ng-if="!item.done">
                        <md-item-content>
                            <div class="md-tile-left">
                                <img ng-src="{{::item.face}}" alt="{{item.who}}" class="face">
                            </div>

                            <div class="md-tile-content">
                                <h3>{{::item.what}}</h3>
                                <h4>{{::item.who}}</h4>
                                <p>
                                    {{::item.notes}}
                                </p>
                                <md-button class="md-button-colored" ng-click="item.markAsDone()">
                                    MARK AS DONE
                                </md-button>
                            </div>
                        </md-item-content>
                        <md-divider inset></md-divider>
                    </div>
                </md-item>
            </md-list>
        </section>

        <section>
            <md-subheader class="md-subheader-colored">Done</md-subheader>

            <md-list>
                <md-item ng-repeat="item in home.todos">
                    <div ng-if="item.done">
                        <md-item-content>
                            <div class="md-tile-left">
                                <img ng-src="{{::item.face}}" alt="{{item.who}}" class="face">
                            </div>

                            <div class="md-tile-content">
                                <h3>{{::item.what}}</h3>
                                <h4>{{::item.who}}</h4>
                                <p>
                                    {{::item.notes}}
                                </p>
                            </div>
                        </md-item-content>
                        <md-divider inset></md-divider>
                    </div>
                </md-item>
            </md-list>

        </section>
    </md-content>
</div>